
.andraSidaBackWrapper{
    
    margin: 0px;
    padding: 0px;
    
}

.andraSidaPeppeFlikBack{
    
    height: 50px;
    border-bottom: solid thin black;
    width: 33%;
    float: left;
    
}

.andraSidaPizzaFlikBack{   
    
    height: 50px;
    background-color: whitesmoke;
    border-left: solid thin black;
    border-top: solid thin black;
    border-right: solid thin black; 
    width: 33%;
    float: left;
    
}

.andraSidaPizzaFlikBack h3{
    
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 10px;
    
}

.andraSidaPartyFlikBack{
    
    height: 50px;
    border-bottom: solid thin black;
    width: 34%;
    float: left;
}

.andraSidaPeppeTextBack{
    
    height: 300px;
    background-color: whitesmoke;
    border-left: solid thin black;
    border-right: solid thin black;
    border-bottom: solid thin black;
    width: 100%;
    float: left;
}
