
/*Andra sida front*/

.andraSidaFrontWrapper{

    margin: 0px;
    padding: 0px;

}

.andraSidaPeppeFlikFront{

    height: 50px;
    border-bottom: solid thin lightgray;
    width: 33%;
    float: left;

}

.andraSidaPizzaFlikFront{   

    height: 50px;
    background-color: whitesmoke;
    border-left: solid thin lightgray;
    border-top: solid thin lightgray;
    border-right: solid thin lightgray; 
    width: 33%;
    float: left;

}

.andraSidaPizzaFlikFront h3{

    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 10px;

}

.andraSidaPartyFlikFront{

    height: 50px;
    border-bottom: solid thin lightgray;
    width: 34%;
    float: left;
}

.andraSidaPizzaTextFront{

    height: 800px;
    background-color: whitesmoke;
    border-left: solid thin lightgray;
    border-right: solid thin lightgray;
    border-bottom: solid thin lightgray;
    width: 100%;
    float: left;
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: flex-start;
}

/*Andra sida back*/

.andraSidaBackWrapper{

    margin: 0px;
    padding: 0px;

}

.andraSidaPeppeFlikBack{

    height: 50px;
    border-bottom: solid thin lightgray;
    width: 33%;
    float: left;

}

.andraSidaPizzaFlikBack{   

    height: 50px;
    background-color: whitesmoke;
    border-left: solid thin lightgray;
    border-top: solid thin lightgray;
    border-right: solid thin lightgray; 
    width: 33%;
    float: left;

}

.andraSidaPizzaFlikBack h3{

    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 10px;

}

.andraSidaPartyFlikBack{

    height: 50px;
    border-bottom: solid thin lightgray;
    width: 34%;
    float: left;
}

.andraSidaPizzaTextBack{

    height: 800px;
    background-color: whitesmoke;
    border-left: solid thin lightgray;
    border-right: solid thin lightgray;
    border-bottom: solid thin lightgray;
    width: 100%;
    float: left;
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: flex-start;
}

/*party del*/

.party-header{
    
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex; /* or inline-flex */
    flex-direction: row;
    border-top: dotted thin lightgray;
    border-left: dotted thin lightgray;
    border-right: dotted thin lightgray;
    
}

.party-header h1{

    margin: 10px;
    margin-bottom: 50px;
    font-size: 35px;

}

.party-header img{
    
    margin: 0 auto;
    margin-top: 50px;
    
}