
/*Första sida front*/

.forstaSidaFrontWrapper{
    
    margin: 0px;
    padding: 0px;
    
}

.forstaSidapeppeFlikFront{
    
    height: 50px;
    background-color: whitesmoke;
    border-left: solid thin lightgray;
    border-top: solid thin lightgray;
    border-right: solid thin lightgray; 
    width: 33%;
    float: left;
}

.forstaSidapeppeFlikFront h3{
    
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 10px;
    
}

.forstaSidapizzaFlikFront{
    
    height: 50px;
    border-bottom: solid thin lightgray;
    width: 33%;
    float: left;
    
}

.forstaSidapartyFlikFront{
    
    height: 50px;
    border-bottom: solid thin lightgray;
    width: 34%;
    float: left;
}

.forstaSidapeppeTextFront{
    
    height: 800px;
    background-color: whitesmoke;
    border-left: solid thin lightgray;
    border-right: solid thin lightgray;
    border-bottom: solid thin lightgray;
    width: 100%;
    float: left;
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: flex-start;
}

/*Första sida back*/

.forstaSidaBackWrapper{
    
    margin: 0px;
    padding: 0px;
    
}

.forstaSidapeppeFlikBack{
    
    height: 50px;
    background-color: whitesmoke;
    border-left: solid thin lightgray;
    border-top: solid thin lightgray;
    border-right: solid thin lightgray;
    width: 34%;
    float: left;
}

.forstaSidapeppeFlikBack h3{
    
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 10px;
    
}

.forstaSidapizzaFlikBack{
    
    height: 50px;
    border-bottom: solid thin lightgray;
    width: 33%;
    float: left;
    
}

.forstaSidapartyFlikBack{
    
    height: 50px;
    border-bottom: solid thin lightgray;
    width: 33%;
    float: left;
}

.forstaSidapeppeTextBack{
    
    height: 800px;
    background-color: whitesmoke;
    border-left: solid thin lightgray;
    border-right: solid thin lightgray;
    border-bottom: solid thin lightgray;
    width: 100%;
    float: left;
}

/*förstasida peppe del*/

/*peppe header*/

.peppe-header{
    
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex; /* or inline-flex */
    flex-direction: row;
    border-top: dotted thin lightgray;
    border-left: dotted thin lightgray;
    border-right: dotted thin lightgray;
    
}

.peppe-header-text h1{
    
  margin-left: 20px;
  line-height: 90px;
  font-size: 35px;
    
}

.peppe-header-img{
    
    margin: 10px;
    
}

/*peppe section*/

.peppe-section{
    
    /*background-color: palevioletred;*/
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-left: dotted thin lightgray;
    border-right: dotted thin lightgray;

}

.peppe-section p{
    
    margin-left: 10px;
    margin-right: 10px;
    
}