
.forstaSidaBackWrapper{
    
    margin: 0px;
    padding: 0px;
    
}

.forstaSidapeppeFlikBack{
    
    height: 50px;
    background-color: whitesmoke;
    border-left: solid thin lightgray;
    border-top: solid thin lightgray;
    border-right: solid thin lightgray;
    width: 34%;
    float: left;
}

.forstaSidapeppeFlikBack h3{
    
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 10px;
    
}

.forstaSidapizzaFlikBack{
    
    height: 50px;
    border-bottom: solid thin lightgray;
    width: 33%;
    float: left;
    
}

.forstaSidapartyFlikBack{
    
    height: 50px;
    border-bottom: solid thin lightgray;
    width: 33%;
    float: left;
}

.forstaSidapeppeTextBack{
    
    height: 800px;
    background-color: whitesmoke;
    border-left: solid thin lightgray;
    border-right: solid thin lightgray;
    border-bottom: solid thin lightgray;
    width: 100%;
    float: left;
}
