
.forstaSidaBackWrapper{
    
    margin: 0px;
    padding: 0px;
    
}

.peppeFlikBack{
    
    height: 50px;
    background-color: whitesmoke;
    border-left: solid thin black;
    border-top: solid thin black;
    border-right: solid thin black;
    width: 34%;
    float: left;
}

.peppeFlikBack h3{
    
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 10px;
    
}

.pizzaFlikBack{
    
    height: 50px;
    /*background-color: yellow;*/
    border-bottom: solid thin black;
    width: 33%;
    float: left;
    
}

.partyFlikBack{
    
    height: 50px;
    /*background-color: blue;*/
    border-bottom: solid thin black;
    width: 33%;
    float: left;
}

.peppeTextBack{
    
    height: 300px;
    background-color: whitesmoke;
    border-left: solid thin black;
    border-right: solid thin black;
    border-bottom: solid thin black;
    width: 100%;
    float: left;
}
