
.forstaSidaFrontWrapper{
    
    margin: 0px;
    padding: 0px;
    
}

.forstaSidapeppeFlikFront{
    
    height: 50px;
    background-color: whitesmoke;
    border-left: solid thin lightgray;
    border-top: solid thin lightgray;
    border-right: solid thin lightgray; 
    width: 33%;
    float: left;
}

.forstaSidapeppeFlikFront h3{
    
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 10px;
    
}

.forstaSidapizzaFlikFront{
    
    height: 50px;
    /*background-color: yellow;*/
    border-bottom: solid thin lightgray;
    width: 33%;
    float: left;
    
}

.forstaSidapartyFlikFront{
    
    height: 50px;
    /*background-color: blue;*/
    border-bottom: solid thin lightgray;
    width: 34%;
    float: left;
}

.forstaSidapeppeTextFront{
    
    height: 800px;
    background-color: whitesmoke;
    border-left: solid thin lightgray;
    border-right: solid thin lightgray;
    border-bottom: solid thin lightgray;
    width: 100%;
    float: left;
}