
.body-1{
    
    background-image: url("img/sky.jpg");
    
}

.body-2{
    
    background-image: url("img/rödvit.jpg");
    
}

.circle-row{
    
    /*background-color: green;*/
    
}

a{
    
    color: black;
    
}

a:hover{
    
    color: black;
    
}

/*circel*/

.col-lg-12.flip-circle{

    /*background-color: pink;*/
    margin-top: 25px;
    margin-bottom: 25px;
    z-index: 0;

}

.container.circle { 
    
  width: 900px;
  height: 900px;
  position: relative;
  perspective: 800px;
  
  
}

#card {
    
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  transform-style: preserve-3d;
  transition: transform 3s;
  transform-origin: right center;
  margin: 0 auto;
  
}

#card figure {
    
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

#card .front {
    
  background: yellow;
  border-radius: 50%;
  cursor: pointer;
  
}
#card .back {
    
  background: white;
  border: solid thin black;
  border-radius: 50%;
  transform: rotateY( 180deg );
  
}

#card.flipped {
  
  transform: translateX( -100% ) rotateY( -180deg );
}

/*meny*/

.wrapper{
    
    margin-left: 500px;
    
}

.meny-container{ 
     
  height: 850px;
  position: relative;
  perspective: 2000px;
  z-index: 100;
  margin-top: -851px;
  /*margin-top: 50px;*/
}

.meny-flipped {
  
  transform: translateX( 0% ) rotateY( -180deg );
}

/*meny framsida*/

.meny-framsida {
    
  width: 100%;
  height: 100%;
/*  width: 400px;
  height: 400px;*/
  transform-style: preserve-3d;
  transition: transform 2s;
  transform-origin: left;
  margin: 0 auto;
  z-index: 200;
  position: absolute;
  
}

.meny-framsida-2 {
    
  width: 100%;
  height: 100%;
/*  width: 400px;
  height: 400px;*/
  z-index: 100;
  position: absolute;
  
}

.meny-framsida figure {
    
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

.meny-framsida-front {
    
  background: darkred;
  /*outline: solid thin black;*/
  
}

.meny-framsida-front h1{
    
    text-align: center;
    color: white;
  
}

.meny-framsida-back {
    
  background: darkred;
  /*outline: solid thin black;*/
  transform: rotateY( 180deg );
  
}

/*meny förstasida*/

.meny-forstasida {
    
  width: 100%;
  height: 100%;
/*  width: 400px;
  height: 400px;*/
  transform-style: preserve-3d;
  transition: transform 2s;
  transform-origin: left;
  margin: 0 auto;
  z-index: 199;
  position: absolute;
}

.meny-forstasida-2 {
    
  width: 100%;
  height: 100%;
/*  width: 400px;
  height: 400px;*/
  transform-style: preserve-3d;
  transition: transform 2s;
  transform-origin: left;
  margin: 0 auto;
  z-index: 201;
  position: absolute;
  
}

.meny-forstasida figure {
    
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.meny-forstasida-front {
    
  /*background: red;*/
  
}
.meny-forstasida-back {
    
  /*background: whitesmoke;*/
  transform: rotateY( 180deg );
  /*outline: solid thin lightgrey;*/
  
}

/*meny andrasidan*/

.meny-andrasida {
    
  width: 100%;
  height: 100%;
/*  width: 400px;
  height: 400px;*/
  transform-style: preserve-3d;
  transition: transform 2s;
  transform-origin: left;
  margin: 0 auto;
  z-index: 198;
  position: absolute;
}

.meny-andrasida-2 {
    
  width: 100%;
  height: 100%;
/*  width: 400px;
  height: 400px;*/
  transform-style: preserve-3d;
  transition: transform 2s;
  transform-origin: left;
  margin: 0 auto;
  z-index: 202;
  position: absolute;
}

.meny-andrasida figure {
    
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.meny-andrasida-front {
    
  /*background: whitesmoke;*/
  /*outline: solid thin lightgrey;*/
  
}
.meny-andrasida-back {
    
  /*background: whitesmoke;*/
  /*outline: solid thin lightgrey;*/
  transform: rotateY( 180deg );
  
}

/*meny sistasidan*/

.meny-sistasida {
    
  width: 100%;
  height: 100%;
/*  width: 400px;
  height: 400px;*/
  transform-style: preserve-3d;
  transition: transform 2s;
  transform-origin: left;
  margin: 0 auto;
  z-index: 197;
  position: absolute;
}

.meny-sistasida-2 {
    
  width: 100%;
  height: 100%;
/*  width: 400px;
  height: 400px;*/
  transform-style: preserve-3d;
  transition: transform 2s;
  transform-origin: left;
  margin: 0 auto;
  z-index: 203;
  position: absolute;
  
}

.meny-sistasida figure {
    
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.meny-sistasida-front {
    
    
  
}
.meny-sistasida-back {
    
  transform: rotateY( 180deg );
  
}

/*meny backsida*/

.meny-backsida {
    
  width: 100%;
  height: 100%;
/*  width: 400px;
  height: 400px;*/
  transform-style: preserve-3d;
  transition: transform 2s;
  transform-origin: left;
  margin: 0 auto;
  z-index: 196;
  position: absolute;
}

.meny-backsida-2 {
    
  width: 100%;
  height: 100%;
/*  width: 400px;
  height: 400px;*/
  transform-style: preserve-3d;
  transition: transform 2s;
  transform-origin: left;
  margin: 0 auto;
  z-index: 201;
  position: absolute;
  
}

.meny-backsida figure {
    
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.meny-backsida-front {
    
  background: darkred;
  /*outline: solid thin lightgray;*/
  
}
.meny-backsida-back {
    
  /*background: whitesmoke;*/
  /*outline: solid thin lightgrey;*/
  transform: rotateY( 180deg );
  
}