
body{
    
    background-image: url("img/sky.jpg");
    
}
.circle-row{
    
    /*background-color: green;*/
    z-index: 0;
    
}

/*circel*/

.col-lg-12.flip-circle{

    /*background-color: pink;*/
    margin-top: 47px;
    margin-bottom: 47px;

}

.container.circle { 
  width: 900px;
  height: 900px;
  position: relative;
  perspective: 800px;
  
}

#card {
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  transform-style: preserve-3d;
  transition: transform 3s;
  transform-origin: right center;
  margin: 0 auto;
  
}

#card figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#card .front {
  background: yellow;
  border-radius: 50%;
  /*background-image: url("img/pizza.jpg");*/
}
#card .back {
  background: white;
  border: solid thin black;
  border-radius: 50%;
  transform: rotateY( 180deg );
}

#card.flipped {
  
  transform: translateX( -100% ) rotateY( -180deg );
}

/*meny*/

.meny-framsida{
    
 height: 850px;
 background-color: pink;
 border: solid thin gray;
 z-index: 101; 
 margin-top: -850px;
 /*transform-style: preserve-3d;*/
  transition: transform 3s;
    
}

.flipped-meny {
  
  transform: translateX( -100% ) rotateY( -180deg );
}

.meny-framsida-2{
    
 height: 850px;
 background-color: greenyellow;
 border: solid thin gray;
 z-index: 100; 
 margin-top: -850px;
    
}